body
{
  background-color: #389ba8;
}
#isi
{

}
#menu
{

}
h1
{
  text-align: center;
}

#jl
{
  font-style: oblique;
}

#judul
{
  font-style: normal;
}

a:link, a:visited, a:active
{
  width: 200px;
  margin: 2px;
  background-color: rgba(#233329, 0.85);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover
{
  width: 200px;
  margin: 2px;
  background-color: #7e1616;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
}

img
{
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#lagu
{
  text-align: center;
  font-family: Verdana;
  font-size: 18px;
  font-style: italic;
}

#copyright {   position: sticky;
  width: 100%;
  line-height: 30px;
  margin-bottom: 0px;
  margin-top: 450px;
  background-color: #fff;
  text-align: center;
  font-size: 10px;
}
